*{
    background-color: rgb(27, 27, 27);
    color: white;
    font-size: 20px;
}

h1{
    text-align: center;
    font-size: 36px;
}
.textBlock{
    margin: 1%;
    background-color: rgb(57, 51, 71);
    padding: 10px;
    border-radius: 20px 50px;
    position: right;
}

.img1{
    border-style:groove;
    border-color: rgb(33, 33, 53);
    border-radius: 30px 30px;
    width: 600px;
}
.img2{
    border-radius: 60px 80px;
    width: 700px;

}
.img3{
    border-radius: 40px 30px;
    border-width: medium;
    width: 500px;
}
.img1, .img2, .img3{
    float: left;
    display: block;
    margin-left: 1%;
}
